# Go
bin/
*.exe
*.out

# Docker / runtime data
sector-manager/data/
sector-manager/dataRaft
broker/data/
warzone-core/data/
sector-manager/warzone-cored
sector-manager/sector-manager.tar


# Local editor files
.vscode/
.DS_Store
